.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      .chat-side__user--new-group
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      .chat-side__user--edit-user
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group-name 
        test1
        .chat-side__group-message まだメッセージはありません
      .chat-side__group
        .chat-side__group-name 
        test2
        .chat-side__group-message まだメッセージはありません
      .chat-side__group
        .chat-side__group-name 
        test3
        .chat-side__group-message まだメッセージはありません